h1 {
font-family: impact;
font-size: 100px;
color: #EFEFEF;
text-align: center;
  }
h2 {
	font-family: sans-serif;
	font-size: 45px;
	color: darkgrey;
	text-align: center;
}
img {
	width: 1250px;
	
}   

.worldmap {
	width: 1250px;
}

area{
    outline: none;
}

.image-wrapper{
	position: relative;
	width: 1250px;
}
.image-wrapper button{
	position: absolute;
}
.btn-USA {
	top: 485px;
	left: 300px;
}

.NY {
	color: #F5A721;
	text-decoration: unset;
	font-family: sans-serif;
	font-size: 20px;
	padding-left: 30px;

}

.MU {
	color: #2FB1C0;
	text-decoration: unset;
	font-family: sans-serif;
	font-size: 20px;
	padding-left: 30px;
}

.RDJ {
	color: #BAEB48;
	text-decoration: unset;
	font-family: sans-serif;
	font-size: 20px;
	padding-left: 30px;
}

.MW {
	color: #F5A721;
	text-decoration: unset;
	font-family: sans-serif;
	font-size: 20px;
	padding-left: 30px;
}

.SY {
	color: #EF385D;
	text-decoration: unset;
	font-family: sans-serif;
	font-size: 20px;
	padding-left: 30px;
}

.ANT{
	color: #BAEB48;
	text-decoration: unset;
	font-family: sans-serif;
	font-size: 20px;
	padding-left: 30px;
}


.CAPE {
	color: #2FB1C0;
	text-decoration: unset;
	font-family: sans-serif;
	font-size: 20px;
	padding-left: 30px;
}


.BEJ{
    color: #BAEB48;
	text-decoration: unset;
	font-family: sans-serif;
	font-size: 20px;
	padding-left: 30px;

}

.VAN{
	color: #2FB1C0;
	text-decoration: unset;
	font-family: sans-serif;
	font-size: 20px;
	padding-left: 30px;

}

.cities {
	text-align: center;
}
.facebook {
	width:50px;
	
}

.twitter {
	width: 50px;
	

}

.insta {
	width:60px;

}

.social-media{
	margin-left: 550px;

}

.container1{
	text-align: right;
}

.home {
	color: #EFEFEF;
	text-decoration: unset;
	font-family: sans-serif;
	font-size: 20px;
	margin: 30px;
	text-align: right;
	
}

.about {
	color: #EFEFEF;
	text-decoration: unset;
	font-family: sans-serif;
	font-size: 20px;
	margin: 30px;
	text-align: right;
	}

.contact {
	color: #EFEFEF;
	text-decoration: unset;
	font-family: sans-serif;
	font-size: 20px;
	margin: 30px;
	text-align: right;
	
}
/* mouse over link */
.home:hover {
    color: #2FB1C0;
}

.contact:hover {
    color: #BAEB48;
}

.about:hover {
    color: #F5A721;
}

.brazil: hover{
	color: red;
}

div {
    cursor:url(plane.png),auto;
}
