h1{
	font-family: impact;
	font-size: 100px;
	text-align: center;
}

.aussie{
	color: #EF385D;

}

.brazil{
	color: #BAEB48;
}

.india {
	color: #2FB1C0;
}

.usa{
	color: #F5A721;
}

.russia {
	color: #F5A721;
}

.canada {
	color: #2FB1C0;

}

.turkey{
	color: #BAEB48;
}

.china{
	color: #BAEB48;
}

.SA{
	color: #2FB1C0;
}

body {
	background-color: #353535;
}

header.masthead {
  background: url("worldmap.png") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: #363535;
}

header.masthead>.overlay {
  padding: 5rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);q

}

@media (min-width: 992px) {
  header.masthead>.overlay {
    padding: 10rem 0;
  }

h2 {
	font-family: impact;
	font-size: 60px;
	text-align: center;
	color: #EFEFEF;

}

p {
	font-family: calibri;
	font-size: 20px;
	color: #EFEFEF;
	text-align: justify;
	padding-left: 30px;
	padding-right: 30px;
}

.food{
	width: 600px;
	display: block;
    margin: auto;

}


.pauls{
	color: #EF385D;
}


.reciepe{
	color: #BAEB48;
}

.jim {
	color: #2FB1C0;
}

.reciepe2 {
	color: #F5A721;
}

.reciepe3 {
	color: #F5A721;
}

.reciepe4 {
	color: #BAEB48;

} 

.duck{
	color: #BAEB48;
}

.restaurant {
	color: #2FB1C0;
}
