h1 {
	font-family: impact;
	font-size: 100px;
	text-align: center;
}

.Home {
	color: #2FB1C0;
}

.About {
	color: #F5A721;
}

.Contact {
		color: #BAEB48;
}

.google {
	align-content: center;
	display: block;
    margin: auto;
}